h1{
    margin-left: 20px;
}
p a:hover{
   background-color: rgb(94, 17, 17);

}

.navbar ul{
  list-style-type: none;
  background-color: rgb(94, 94, 231) ;
  padding: 0px;
  margin: 0px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
background-color: red;
}
.navbar li{
    float: left;
}
button {
background-color: rgb(27, 106, 170) ;
}

h2 {
color: black
}

p{
    word-wrap: break-word;
    word-break: break-all;
}
body{
    background-image: url('traffic-jam.jpg'); 
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}
#about {
     background-image: url('background taxi.2.jpg');  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}
#about-us-form{
    
}
#about-us-paragraph{
    font-family: "Trirong", serif;
}
#for-survices-2{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    position: absolute;
    
}
#our-survices{
    background-image: url('survices background.jpg');
    background-repeat: no-repeat;
    padding-top: 150px;
    width: 1000px; 
    opacity: 20px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
    }
#form1 {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 10px solid red;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid red;
    color: white;
    background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
 justify-content: center;
  }
#button2 {
    
        background-color: red;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
}
#button3{
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#contact-us{
 background-image: url('street-night.jpg');
 background-repeat: no-repeat;  
 background-size: cover; 
 background-position: center; 
 background-repeat: no-repeat; 
 height: 100vh; 
 margin: 0; 
}



/* 
taxi.6{
    width: 200px;
    height: 200px;
} */